.mainButton {
  width: 150px;
  background: $darkRed;
  color: white;
  border: 0;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  // font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: darken($darkRed, 10);
  }
}
