.card {
  box-shadow: 28px 28px 50px -20px rgba(#0d2750, 0.16),
    -23px -23px 45px -25px rgba(#ffffff, 1);
  padding: 50px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  @include breakpoint(700px) {
    padding: 25px;
  }
}
