@import "colors";
@import "mixins";

.footer {
  // height: 200px;
  position: relative;
  width: 100%;
  background-color: $darkPurple;
  overflow: hidden;

  .background {
    position: absolute;
    right: -275px;
    top: -175px;
    height: 600px;
    opacity: 0.1;
  }

  .content {
    width: 80%;
    margin: auto;
    color: white;
    padding: 75px 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    @include breakpoint(1050px) {
      width: 90%;
    }

    .col {
      max-width: 25%;
      min-width: 150px;
      margin: 25px 50px;

      @include breakpoint(1050px) {
        margin: 25px;
      }
      @include breakpoint(600px) {
        min-width: 125px;
        margin: 15px;
      }

      .mediumTitle {
        margin-bottom: 25px;
        font-weight: 600;
      }

      .row {
        display: flex;
        flex-direction: row;
      }

      a {
        // display: contents;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
        transition: 0.2s;

        &:hover {
          color: lighten($darkPurple, 40);
        }
      }

      .footerDesc {
        color: rgb(230, 230, 230);
        font-size: 0.85em;
      }

      .mail {
        margin-top: 5px;
        cursor: pointer;
      }
    }

    .copyright {
      text-align: end;
      margin-left: auto;
      margin-top: 25px;
      font-size: 0.75em;
      color: lighten($darkPurple, 25);
      width: 100%;
    }
  }
}
