@import "colors";
@import "buttons";

.landing {
  color: $fontColor;

  .mainLanding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 50px;

    .mainIllustration {
      width: clamp(500px, 50%, 760px);
    }

    .landingHeader {
      width: 500px;
      margin-right: 50px;

      button {
        margin-top: 25px;
      }
    }

    .landingTitle {
      margin-bottom: 15px;
      font-size: 2.75em;
      font-weight: 600;
    }
    .landingSubtitle {
      font-size: 1em;
      font-weight: 600;
      color: lighten($fontColor, 30);
    }
  }
}
