@import "colors";
@import "mixins";
@import "buttons";

.landing {
  color: $fontColor;

  .card {
    box-shadow: 28px 28px 50px -20px rgba(#0d2750, 0.16),
      -23px -23px 45px -25px rgba(#ffffff, 1);
    padding: 50px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    @include breakpoint(700px) {
      padding: 25px;
    }
  }

  .mainLanding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin-bottom: 100px;

    .mainIllustration {
      width: clamp(250px, 50%, 760px);
    }

    .landingHeader {
      width: 466px;
      margin-right: 50px;
      margin-top: 50px;

      @include breakpoint(1350px) {
        margin-right: 0;
      }
      @include breakpoint(700px) {
        width: 100%;
        text-align: center;
      }

      button {
        margin-top: 25px;
      }
    }

    .landingTitle {
      margin-bottom: 15px;
      font-size: clamp(1.5em, 5vw, 2.75em);
      font-weight: 600;
    }
    .landingSubtitle {
      font-size: clamp(0.75em, 2vw, 1em);
      font-weight: 500;
      color: lighten($fontColor, 30);
    }
  }

  .adventure {
    width: 80%;
    margin: auto;
    background-color: rgb(240, 240, 240);
    padding: 25px 10% 100px 10%;

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 325px;

        h2 {
          font-weight: 500;
        }

        .adventureImg {
          margin: 25px 0;
          width: 250px;
          height: 250px;
        }
      }
    }

    .adventureTitle {
      text-align: center;
      font-size: 2.75em;
      font-weight: 600;
      margin: 50px 0;
    }
  }
}
