@import "colors";

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $red;

  .content {
    width: 80%;
    margin: auto;

    ul {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        display: contents;
        transition: 0.2s;

        &:hover {
          color: rgb(220, 220, 220);
        }
      }

      .logo {
        height: 64px;
        width: 64px;
        margin-right: 50px;
      }

      li {
        list-style-type: none;
        font-weight: 700;
        font-size: 1.25em;
        margin-right: 50px;
        height: 32px;
      }
    }
  }
}
